@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  animation: neon-glow 15s infinite alternate;
}
@keyframes neon-glow {
  20% {
    text-shadow: 0 0 5px #0d3b66, 0 0 10px #0d3b66, 0 0 15px #0d3b66,
      0 0 20px #0d3b66;
    color: white;
  }

  30% {
    text-shadow: 0 0 5px #046380, 0 0 10px #046380, 0 0 15px #046380,
      0 0 20px #046380;
    color: white;
  }

  40% {
    text-shadow: 0 0 5px #9f2042, 0 0 10px #9f2042, 0 0 15px #9f2042,
      0 0 20px #9f2042;
    color: white;
  }

  50% {
    text-shadow: 0 0 5px #e55934, 0 0 10px #e55934, 0 0 15px #e55934,
      0 0 20px #e55934;
    color: white;
  }

  40% {
    text-shadow: 0 0 5px #f4d35e, 0 0 10px #f4d35e, 0 0 25px #f4d35e,
      0 0 20px #f4d35e;
    color: white;
  }

  30% {
    text-shadow: 0 0 5px #faf0ca, 0 0 10px #faf0ca, 0 0 15px #faf0ca,
      0 0 20px #faf0ca;
    color: white;
  }

  20% {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff,
      0 0 20px #ffffff;
    color: white;
  }
}
p {
  color: white;
  font-size: larger;
  text-align: justify;
}
header {
  background-color: #0d0a20;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul li {
  display: inline-flex;
  margin-right: 10px;
}
nav ul li a {
  color: rgb(196, 196, 196);
  display: inline-flex;
  text-decoration: none;
}
#speech {
  text-align: center;
}
body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  height: auto;
  line-height: 1.6;
}
main {
  background-color: #0a0817;
  padding: 25px;
  display: flex;
  justify-content: space-around;
}
img {
  display: block;
  margin: auto;
  max-width: 100%;
}
figcaption {
  color: #999898;
  text-align: center;
}
footer {
  background-color: #262336;
  color: white;
  padding: 10px;
  text-align: center;
  position: flex;
  width: auto;
}
.srcImageTooBig {
  width: 50%;
}
